@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Binate";
  src: url("../fonts/BinateDisplay-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Binate-Bold";
  src: url("../fonts/BinateDisplay-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}
@keyframes fadeBack {
  0%, 50% {
    opacity: 1;
  }
  50%, 51% {
    opacity: 0;
  }
  51%, 100% {
    opacity: 1;
  }
}
@keyframes fadeFront {
  50%, 51% {
    opacity: 1;
  }
  51%, 90% {
    opacity: 1;
  }
  90%, 91% {
    opacity: 0;
  }
}
/*Declared Variables*/
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  overflow-x: hidden;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #C93510;
}

.highlight {
  color: #C93510;
}

#header {
  display: flex;
  height: 100px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #d9a74a;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
  z-index: 5;
}
#header #nav-list {
  justify-content: flex-end;
  width: 70vw;
}
#header ul {
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
#header li {
  width: auto;
  margin: 0px 40px;
}

#burger {
  display: none;
  position: absolute;
  top: 10;
  right: 0;
  margin-right: 50px;
  font-size: 25px;
}

#brand {
  width: 380px;
  height: 100%;
  flex-shrink: 0;
}
#brand h1 {
  font-family: "Binate-Bold", serif;
  color: #251507;
  font-size: 40px;
  text-align: end;
  padding: 15px 0px;
}
#brand #logo {
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: 8px;
}

#hero {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 100vw;
  height: 98vh;
  background-color: rgba(251, 237, 216, 0.8);
  position: relative;
  padding: 0px 0px;
}

#bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/JC001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  background-clip: content-box;
  z-index: -1;
}

#headline {
  font-family: "Binate-Bold", serif;
  color: #251507;
  width: 1200px;
  height: auto;
  color: #5E3115;
  font-size: 77px;
  text-align: center;
  line-height: 100px;
  letter-spacing: 5px;
  margin: 120px auto;
}

#hero button {
  all: unset;
  cursor: pointer;
  width: 320px;
  height: 70px;
  margin: 60px auto;
  background-color: #9C321F;
  font-family: "Binate-Bold", serif;
  font-size: 38px;
  text-align: center;
  color: #fff8f8;
  border-radius: 50px;
  padding-bottom: 10px;
}

#hero button:hover {
  transform: scale(1.05);
  border: 2px solid #FFFFFF;
}

.sub-headline {
  font-family: "Binate-Bold", serif;
  color: #251507;
  font-size: 20px;
  text-align: center;
}

.sub-text {
  font-family: "Roboto", serif;
}

#basket {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 110vh;
  position: relative;
  justify-content: center;
}
#basket h1 {
  font-family: "Binate-Bold", serif;
  color: #251507;
  color: #C93510;
  width: 100%;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
}
#basket h3 {
  font-family: "Binate-Bold", serif;
  color: #251507;
  color: #272727;
  font-size: 50px;
  color: #251507;
}
#basket ul {
  list-style: none;
  font-family: "Binate", serif;
  font-style: italic;
  font-size: 26px;
  line-height: 66px;
  letter-spacing: 2px;
}
#basket .menu-placeholder {
  position: relative;
  width: 680px;
  height: 700px;
  background-color: rgb(230, 215, 188);
  margin: 30px;
  padding: 40px;
  border-radius: 40px;
}

#menu-cover {
  content: "";
  position: absolute;
  font-family: "Binate", serif;
  font-size: 50px;
  text-align: center;
  line-height: 550px;
  letter-spacing: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  background-color: #30261d;
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px rgba(40, 40, 40, 0.7);
}

#menu-cover:hover {
  box-shadow: 0px 2px 2px 2px rgba(40, 40, 40, 0.4);
  outline: 2px solid #f4f4f4;
}

.cookie-cover, .coffee-cover {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 0;
  position: relative;
  background-color: #30261d;
}

.cookie-cover::before {
  content: "";
  background-color: #30261d;
  background-image: url("../assets/JC004.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: 0.3;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.coffee-cover::before {
  content: "";
  background-color: #30261d;
  background-image: url("../assets/JC012.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  opacity: 0.3;
  border-radius: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hide {
  opacity: 0;
}

.menu-item {
  padding: 0px 15px;
}

.menu-item:hover {
  background-color: rgb(247, 242, 235);
  cursor: default;
}

#about {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #D9A74A;
  position: relative;
  padding: 50px 80px;
}
#about #about-content {
  width: 990px;
  height: 100%;
  margin-right: 120px;
}
#about h1 {
  font-family: "Binate-Bold", serif;
  color: #251507;
  font-size: 60px;
  margin: 70px 0px;
  width: 100%;
  color: #C93510;
  height: auto;
}
#about p {
  width: 980px;
  height: 100%;
  font-family: "Roboto", serif;
  font-size: 34px;
  text-align: justify;
  line-height: 60px;
}
#about #about-img {
  width: 600px;
  height: 600px;
  position: relative;
}

.img-placeholder::before, .img-placeholder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.img-placeholder::before {
  background: url("../assets/JC013.png");
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeBack 20s ease-in infinite;
  opacity: 1;
}

.img-placeholder::after {
  background: url("../assets/JC008.jpg");
  border-radius: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: fadeFront 20s ease-in infinite;
  opacity: 0;
}

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: 200px;
       column-gap: 200px;
  width: 100vw;
  height: 100vh;
  padding: 50px 80px;
  position: relative;
}
#contact h1 {
  font-family: "Binate-Bold", serif;
  color: #251507;
  font-size: 66px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #C93510;
  margin: 60px 0px;
}
#contact i {
  margin-right: 10px;
}
#contact #contact-form {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: auto;
  margin-top: 50px;
}
#contact #contact-details {
  width: 500px;
  text-wrap: wrap;
  font-family: "Binate", serif;
  color: #251507;
  font-size: 24px;
  margin-top: 50px;
}
#contact form {
  font-family: "Binate", serif;
  color: #251507;
  font-weight: 900;
  font-size: 20px;
}
#contact label {
  display: none;
}
#contact .contact-input {
  width: 100%;
  height: 38px;
  font-family: "Roboto", serif;
  font-size: 20px;
  color: "Binate", serif;
  position: relative;
  margin: 10px 0px;
  padding: 0px 5px;
  z-index: 2;
}
#contact .contact-message {
  width: 100%;
  height: 200px;
  font-family: "Roboto", serif;
  font-size: 20px;
  color: "Binate", serif;
  margin: 10px 0px;
  padding: 5px 5px;
  z-index: 2;
}
#contact .contact-input::-moz-placeholder, #contact .contact-message::-moz-placeholder {
  font-family: "Binate", serif;
  font-size: 20px;
  font-weight: 900;
  padding: 0px 10px;
}
#contact .contact-input::placeholder, #contact .contact-message::placeholder {
  font-family: "Binate", serif;
  font-size: 20px;
  font-weight: 900;
  padding: 0px 10px;
}
#contact .contact-submit {
  all: unset;
  cursor: pointer;
  width: 180px;
  height: 55px;
  margin-top: 40px;
  background-color: #D9A74A;
  font-family: "Binate", serif;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #251507;
  letter-spacing: 2px;
  border-radius: 50px;
}
#contact .underline {
  text-decoration: underline;
  cursor: pointer;
}

#footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  background: #8a8a8a;
  font-size: 28px;
}
#footer #footer-headline {
  width: 50%;
  font-size: 28px;
}
#footer #contacts {
  display: flex;
  width: 50%;
  justify-content: center;
}
#footer #contacts i {
  color: #251507;
  font-size: 34px;
  margin: 0px 20px;
}
#footer #contacts i:hover {
  color: #614a35;
}

.fade {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/*Responsive Screen Settings*/
@media screen and (max-width: 1200px) {
  #header ul {
    margin-right: 20px;
  }
  #header li {
    margin: 0px 14px;
    font-size: 18px;
  }
  #hero #headline {
    width: 850px;
    font-size: 55px;
  }
  #hero button {
    width: 250px;
    height: 60px;
    font-size: 26px;
  }
  .sub-headline {
    font-size: 22px;
  }
  #basket {
    height: auto;
  }
  #basket h1 {
    font-size: 55px;
  }
  #basket h3 {
    font-size: 42px;
  }
  #basket ul {
    margin-top: 20px;
    font-size: 22px;
    line-height: 50px;
  }
  #basket .menu-placeholder {
    width: 580px;
    height: 600px;
    margin: 30px;
    padding: 40px;
    border-radius: 38px;
  }
  #about {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 1600px;
    margin-top: 80px;
    padding: 20px 80px;
  }
  #about #about-content {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
  }
  #about #about-content h1 {
    font-size: 46px;
    margin: 50px 0px;
  }
  #about #about-content p {
    width: 100%;
  }
  #about #about-img {
    width: 500px;
    height: 500px;
    margin: 80px 0px;
    border-radius: 50%;
  }
  #contact {
    height: auto;
  }
  #contact #about-content {
    padding: 0px;
    margin-bottom: 40px;
  }
  #footer {
    justify-content: center;
    font-size: 22px;
  }
  #footer #footer-headline {
    font-size: 24px;
  }
  #footer #contacts i {
    font-size: 30px;
    margin: 0px 15px;
  }
}
@media screen and (max-width: 760px) {
  #header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
  }
  #header li {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin: 40px 0px;
  }
  #header #burger {
    display: flex;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #header #nav-list ul {
    display: none;
    justify-content: center;
    align-items: center;
  }
  #header #nav-list ul.nav-menu {
    display: flex;
  }
  #header #brand {
    width: 340px;
  }
  #header #brand h1 {
    font-size: 30px;
    margin-right: 35px;
    margin-top: 5px;
  }
  #header #brand #logo {
    width: 80px;
    margin-top: 7px;
    margin-left: 10px;
  }
  #header .nav-menu {
    flex-direction: column;
    align-items: center;
    background: #d9a74a;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 95px;
    left: 0;
    z-index: 5;
  }
  #hero {
    margin-top: 100px;
  }
  #hero #headline {
    width: 90%;
    font-size: 50px;
    line-height: 80px;
  }
  #hero button {
    width: 250px;
    height: 60px;
    font-size: 26px;
  }
  #basket {
    height: auto;
  }
  #basket h1 {
    font-size: 40px;
  }
  #basket h3 {
    font-size: 26px;
  }
  #basket ul {
    font-size: 14px;
    line-height: 30px;
    padding: 4px;
    margin-top: 12px;
  }
  #basket .menu-placeholder {
    width: 380px;
    height: 400px;
    padding: 40px 30px;
    text-align: center;
  }
  #basket #menu-cover {
    font-size: 40px;
  }
  #about #about-content h1 {
    font-size: 40px;
  }
  #about #about-content p {
    font-size: 24px;
    line-height: 50px;
  }
  #about #about-img {
    width: 400px;
    height: 400px;
  }
  #footer #footer-headline {
    text-align: start;
    width: 180px;
    font-size: 20px;
  }
  #footer #footer-headline .sub-text {
    margin-left: 30px;
  }
  #footer #contacts {
    justify-content: flex-end;
  }
}/*# sourceMappingURL=style.css.map */